.gradient-container {
  position: relative;
  width: 561px;
  height: 48px;
  border-radius: 24px;
  overflow: hidden;
  margin-bottom: 40px;
}

.gradient-background {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 24px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.input-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 10px;
  background: transparent;
}

.text-output {
  display: flex;
  align-items: center;
  height: 48px;
  flex-grow: 1;
  padding: 0 10px;
  background: transparent;
  color: #fff;
  font-size: 16px;
  font-family: 'Menlo', monospace;
}

.typing-indicator {
  font-size: 16px;
  font-family: 'Menlo', monospace;
  color: #007aff;
  margin-left: 5px;
  animation: blink 1s steps(1, end) infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.typed-text {
  font-size: 16px;
  font-family: 'Menlo', monospace;
}

.mic-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  padding: 0 20px;
  color: #333;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mic-button img {
  position: absolute;
  transition: opacity 0.3s ease;
  scale: 0.4;
}

.mic-button .mic-white {
  opacity: 1;
}

.mic-button .mic-orange {
  opacity: 0;
}

.mic-button.active .mic-white {
  opacity: 0;
}

.mic-button.active .mic-orange {
  opacity: 1;
}